.vscode/**
.claude/**
.workbuddy/**
assets/**
.vscodeignore
.test-dist/**
.tmp-*/**
src/**
test/**
examples/**
scripts/**
node_modules/**
tsconfig*.json
package-lock.json
release/
spec/
**/*.map
**/*.ts
!dist/**/*.d.ts
