.vscode/**
.claude/**
.workbuddy/**
assets/**
.vscodeignore
.test-dist/**
src/**
test/**
examples/**
scripts/**
!scripts/postinstall.cjs
node_modules/**
tsconfig*.json
package-lock.json
release/
**/*.map
**/*.ts
!dist/**/*.d.ts
